*{
    box-sizing: border-box;
    font-family: 'NotoSans';
}

.titles{
    padding-top: 80px;
    margin-bottom: 30px;
}

.container{
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
}

.maintitle{ 
    font-size: 35px;
    line-height: 60px;
    font-weight: bold;
}

.subtitle{
    font-size: 20px;
    color: #555;
    line-height: 32px;
}


.input_section{
    text-align: left;
}

.hrtag{
    border: 1px solid #000;
    margin: 20px 0;
}
    
.input_title{
    font-size: 18px;
    font-weight: 500;
    margin: 20px 0;
    margin-right: 30px; 
    display: inline-block;
    width: 140px;
    line-height: 40px;
}

.input_id{
    width: 300px;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding-left: 8px;
    margin: 20px 0;
}

.input_edit{
    width: 130px;
    height: 40px;
    border: 1px solid #4553ad;
    color: #4553ad;
    background-color: #fff;
    border-radius: 5px;
    margin: 20px 0;
    margin-left: 16px;
    font-size: 16px;
}

.input_hr{
    border: 1px solid #ddd;
    margin: 10px 0;
}
.input_profile_div{
    display: flex;
    flex-direction: row;
    align-items: left;
}
.input_info_div{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 20px;
    line-height: 24px;
}
.input_image_div {
    display: flex;  
    flex-direction: row;
    align-items: center;
}

.input_profile_image{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.input_findfile{
    background-color: #999;
    color: #fff;
    border: none;
    width: 130px;
    height: 40px;
    border-radius: 5px;
    margin-left: 16px;
    font-size: 16px;
    border: none;
}

.input_profile{
    width: 500px;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding-left: 8px;
    margin: 20px 0;
}

.input_profile_none{
    display: none;
}

.input_file_find{
    width: 130px;
    height: 40px;
    background-color: #999;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 16px;
    font-size: 16px;
}

.input_label_div{
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
}

.input_label{
    margin-right: 30px;
}

.input_radio{
    margin-right: 10px;
    font-size: 16px;
    width: 16px;
    height: 16px;
}

.input_span{
    color: #555;
}

.input_submit{
    width: 130px;
    height: 40px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    margin-left: 16px;
    font-size: 16px;
}

.input_cancel{
    width: 130px;
    height: 40px;
    border: 1px solid #ccc;
    color: #555;
    border-radius: 5px;
    margin-left: 16px;
    font-size: 16px;
}   

.input_submit_cancel{
    display: inline-block;
    margin: 20px 0;
}


@media screen and (max-width: 1380px) {
    .container{
        width:95%;
    }
}
@media screen and (max-width: 1000px) {
    .input_submit_cancel{
        display: flex;
        flex-direction: row;
    }
    .input_submit{
        margin-left: 0;
    }
    .input_profile{
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 768px) {
    .input_title{
        display: block;
        margin-bottom: 0px;
    }
    .input_profile{
        margin-bottom: 0px;
        width: 95%;
        max-width: 500px;
    }
    .input_profile_div{
        flex-direction: column;
    }
    .input_file_find{
        display: block;
        margin-left: 0;
    }
    .input_info_div{
        margin-left: 0;
    }
}
@media screen and (max-width: 480px) {
    .input_edit{
        display: block;
        margin-left: 0;
    }
    .input_cancel{
        margin-right: 0;
    }
    .input_label_div{
        margin-bottom: 10px;
    }
    .input_id{
        margin-bottom: 10px;
    }
}