
.ptag    {
    font-size: 20px;
    line-height: 32px;
    color: var(--MainBlack);
    text-align: left;
    word-break: keep-all;
    margin-left: 15px;
    margin-right: 15px;
}
.divwrite{
    background-image: url('../../../public/images/sub104/tree-3.jpg');
    background-color: #bbb;
}
.titles{
    padding-top: 80px;
}
.maintitle{
    font-size: 40px;
    line-height: 60px;
}
.content_container{
    margin: auto;
    width: 80%;
}
.subtitle{
    font-size: 20px;
}
.contents{
    padding-top: 40px;
}
.submain{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #f0f0f0;
}
.section_contain{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.section_contain{
    padding-top: 80px;
}
.image_section{
    position: relative;
    width: calc(50% - 15px);
    margin-left: 15px;
    margin-right: 15px;
    height: 500px;
    background-image: url('../../../public/images/sub104/tree-3.jpg');
    margin-bottom: 20px;
    
}
.image_icon{
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, 0);
    width: 100px;
    border-radius: 50%;
}
.content_container{
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    background-color: #bbb;
}
@media screen and (max-width: 1024px) {
    .content_container{
        width: 90%;
    }
    .contents{
        width: 95%;
    }
    .image_section{
        width: 100%;
    }
    .ptag{
        width: 100%;
    }
}
@media screen and (min-width: 1024px) {
    .contents{
        width: 1020px;
    }
    
}
@media screen and (max-width: 768px) {
    .contents{
        width: 85%;
    }
    .section_contain{
        flex-direction: column;
        align-items: center;
    }
    .contents{
        width: 85%;
    }
}